.header_wrapper {

    min-height: 100%;
    width: 100%;
    position: relative;

}

.swiper {

    height: 100vh !important;
    width: 100% !important;

}

.HeaderSlide {

    height: 100% !important;
    width: 100% !important;
    background-image: url(./../../assets/images/home-hotel1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;

}

.HeaderSlide::after {

    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);

}

.slide2 {

    background-image: url(./../../assets/images/home-hotel2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}

.slide3 {

    background-image: url(./../../assets/images/home-hotel3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    


}

.HeaderSlide .content {


    
    position: absolute;
    bottom: 20%;
    left: 50px;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    padding: 25px;
    backdrop-filter: blur(5px);
    z-index: 2;


}

.HeaderSlide .content small {

    color: white;
    font-size: 16px;

}