.nav_wrapper {

    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 15%;
    top: 0;
    z-index: 99;
    

}

.nav_wrapper .logo a {

    font-size: 25px;
    font-weight: 700;
    color: #fff;

}

.nav_wrapper .logo span {

    font-size: 25px;
    font-weight: 700;
    color: #241158;

}


.nav_wrapper ul li {

    display: inline-block;
    margin: 0 15px;

}

.Nav_btns {

    display: flex;
    gap: 18px;
    align-items: center;

}

.nav_wrapper ul li a {

    color: #1e1e1e;
    font-weight: 500;
    font-family: 'poppins';

}

